<select class="hidden-input" [value]="selectedValue" (change)="selectedValue = $event.target.value">
    <option *ngFor="let option of model" [value]="option.modelValue">{{option.displayValue}}</option>
</select>
<div class="styled-input" [class.empty]="model.length === 0">
    <div class="selected">
        <span class="current-value" *ngIf="selectedValue" (click)="toggleExpanded()">{{getFullValue(selectedValue).displayValue}}</span>
        <span class="placeholder" *ngIf="!selectedValue && model.length" (click)="expanded = !expanded">{{placeholder}}</span>
        <span class="placeholder" *ngIf="!selectedValue && !model.length">Kein Wert vorhanden</span>
    </div>
    <div class="options" *ngIf="expanded">
        <div *ngIf="!model.length">
            <div class="option">Kein Wert vorhanden</div>
        </div>
        <div *ngIf="model.length">
            <div class="option" *ngFor="let option of model" (change)="selectedValue = option.modelValue">{{option.displayValue}}</div>
        </div>
    </div>
</div>